@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,900&display=swap');

* {
  margin: 0px;
  font-family: 'Poppins', tahoma, verdana;
}


main section:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}



/*Tablet*/
@media screen and (min-width: 768px) {
  header img {
    content: url('img/topoTablet.jpg');
  }

  header h1,
  header h2 {
    text-align: center;
    padding: 5px;
  }

  header h1 {
    font-size: 24px;
  }

  header h2 {
    font-size: 18px;
  }
}

/*Desktop/Computador*/
@media screen and (min-width: 1024px) {
  header img {
    content: url('img/topoPC.jpg');
  }

  .tecnologias {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    padding-top: 40px;
  }

  .compras {
    display: flex;
    flex-direction: row;
  }

  .container {
    width:1200px;
    margin:auto;
} 

}

ul {
  background-color: black;
  list-style: none;
  text-align: right;
  padding: 15px;
  margin: 0px;
}

ul li {
  display: inline;
  font-size: 14px;
}

ul li a {
  color: white;
  text-decoration: none;
  color: white;
  padding: 25px;
  transition: all 0.4s;
  background-position: -80px 17px;

}

ul li a:hover {
  color: black;
  background-color: white;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 10px 17px;
  background-size: 30px 30px;
}

ul li:nth-child(1) a:hover {
  background-image: url('../img/html5.png');
}

ul li:nth-child(2) a:hover {
  background-image: url('../img/css3.png');
}

ul li:nth-child(3) a:hover {
  background-image: url('../img/javascript.png');
}

header {
  text-align: center;
}

header h1 {
  font-size: 20px;
  margin-top: 60px;
  transition: all 0.5s;
}


header h2 {
  color: red;
  font-size: 18px;
  margin: 60px 0px;
  transition: all 1s;
}


header img {
  width: 100%;
}

container {
  width: 100%;
}

.tecnologias p,
.compras p {
  font-size: 14px;
}

.tecnologias {
  text-align: center;
  padding: 30px;
  display: flex;
 
}

.tecnologias img {
  width: 80px;
}

.tecnologias p {
  padding: 20px;
  margin: 15px 10px 35px 10px;
}

.compras {
  display: flex;
 
}

.compras p {
  text-align: justify;
}

.compras img {
  width: 250px;
}

footer {
  background-color: black;
  padding: 40px;
  text-align: center;
  color: white;

}